NODE_ENV=YOUR_NODE_ENVIRONMENT
PORT=YOUR_LOCALHOST_PORT
BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET
BETTER_AUTH_URL=YOUR_BACKEND_URL
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
ACCESS_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET=YOUR_REFRESH_TOKEN_SECRET
ACCESS_TOKEN_EXPIRES_IN=YOUR_ACCESS_TOKEN_EXPIRATION
REFRESH_TOKEN_EXPIRES_IN=YOUR_REFRESH_TOKEN_EXPIRATION
SESSION_TOKEN_EXPIRES_IN=YOUR_SESSION_TOKEN_EXPIRATION
SESSION_TOKEN_UPDATE_AGE=YOUR_SESSION_TOKEN_UPDATE_AGE
DATABASE_URL=YOUR_DATABASE_URL